*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e4c9b1;
  font-family: system-ui;
}

header {
  width: 100%;
  padding: 20px;
  background-color: chocolate;
}

header a {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

header nav {
  display: inline;
  margin-left: 35%;
}

nav a {
  color: blue;
  text-decoration: none;
  margin-inline: 10px;
  font-weight: bold;
  font-size: medium;
}

nav a:hover {
  color: aqua;
  transition: all;
  transition-duration: 200ms;
}

article {
  width: 500px;
  max-width: 100%;
  padding: 20px;
  border: 2px solid rgb(231, 231, 193);
  margin: 24px;
  border-radius: 10px;
  background-color: aquamarine;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

article img {
  width: 450px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 2px;
}

article h3 {
  text-align: center;
}

article p {
  text-wrap: pretty;
  display: inline;
}

article a {
  display: inline-block;
  padding-inline: 10px;
  font-weight: bold;
  background-color: #00cc88;
  padding-inline: 4px;
  padding-block: 2px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

article time {
  text-align: center;
  font-size: small;
}

footer {
  background-color: chocolate;
  padding-block: 5px;
  text-align: center;
}

.hero {
  text-align: center;
}

.blog {
  margin-block: 20px;
  padding: 20px;
}

.blog article {
  margin: 0 auto;
  margin-block: 20px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}
